{% load humanize wishlist %}

<table class="visible-xs table table-hover table-striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th style="width: 150px">Preço</th>
    <th style="width: 80px"></th>
  </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.name }}</td>
      <td>$ {{ object.price|intcomma }}</td>
      <td class="text-center">
        <a href="{% url 'wishlist-edit' pk=object.pk %}?next={{ request.build_absolute_uri|urlencode }}">Editar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
