{% extends 'common/layout.html' %}
{% load widget_tweaks i18n %}

{% block title %}{{ title }}{% endblock %}
{% block topbar %}{% endblock %}

{% block body %}
  <div class="container login-panel">
    <div class="panel panel-default">
      <div class="panel-heading">{{ title }}</div>
      <div class="panel-body">
        {% if validlink %}
          <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
  
            <div class="form-group">
              {% render_field form.new_password1 class='form-control' placeholder=form.new_password1.label %}
              {{ form.new_password1.errors }}
            </div>
            <div class="form-group">
              {% render_field form.new_password2 class='form-control' placeholder=form.new_password2.label %}
              {{ form.new_password2.errors }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
          </form>
        {% else %}
          {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
