{% extends 'common/layout.html' %}
{% load widget_tweaks i18n %}

{% block title %}Esqueci minha senha{% endblock %}
{% block topbar %}{% endblock %}

{% block body %}
  <div class="container login-panel">
    <div class="panel panel-default">
      <div class="panel-heading">{{ title }}</div>
      <div class="panel-body">
        <form action="" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group">
            {% render_field form.email class='form-control' placeholder=form.email.label %}
            {{ form.email.errors }}
          </div>
          <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
