{% extends 'common/layout.html' %}
{% load i18n %}

{% block title %}{% trans "Budgets" %}{% endblock %}

{% block body %}
  <div class="container">
    <div class="page-header">
      <h1>{% trans "Delete Budget" %}</h1>
    </div>
  
    <div class="panel panel-danger">
      <div class="panel-heading">{% trans "Attention!" %}</div>
      <div class="panel-body">
        <p>
          {% blocktrans with category=object.category.name date=object.date|date:"F Y" %}
            Are you sure you want to delete the budget {{ category }} for {{ date }}? 
          {% endblocktrans %}
        </p>

        <form action="" method="post">{% csrf_token %}
          <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
          {% url 'budgets-list' as ret_url %}
          <a href="{{ request.REQUEST.next|default:ret_url }}" class="btn btn-link">{% trans "Cancel" %}</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
